@tailwind base;
@tailwind components;
@tailwind utilities;

/* small defaults */
html,
body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900;
}

/* brand helpers */
.text-brand-yellow {
  color: #fcbb17;
}
.bg-brand-yellow {
  background-color: #fcbb17;
}

/* Hide scrollbar (works for Chrome, Edge, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
