@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

/* small defaults */
html,
body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900;
}

/* brand helpers */
.text-brand-yellow {
  color: #fcbb17;
}
.bg-brand-yellow {
  background-color: #fcbb17;
}

/* Hide scrollbar (works for Chrome, Edge, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Tailwind scrollbar thin style */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(100, 100, 100, 0.4);
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}
